:root {
  --dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-size: 0.75rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  padding: 8rem 0 8rem 0;
  color: var(--dark-desaturated-blue);
}

.card__container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 15px;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-width: 20.375rem;
  padding: 8rem 1rem 3rem 1rem;
  position: relative;
  box-shadow: 0px 15px 40px -10px hsl(0, 0%, 25%);
  transition: all 0.3s;
}

.card__container-main {
  max-width: 20.375rem;
}

.card__img-main {
  width: 75%;
  position: absolute;
  top: -110px;
  left: 45px;
}

.card__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

abbr[title] {
  text-decoration: none;
}

details > summary {
  list-style: none;
}

.faq__details {
  padding: 1.15rem;
}

.faq__details[open] .faq__question:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq__details[open] .faq__question h2 {
  font-weight: 700;
}

.faq__question {
  list-style-image: url(./images/icon-arrow-down.svg);
  list-style-position: initial;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 350px;
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question::after {
  content: url(./images/icon-arrow-up.svg);
  margin-left: 1rem;
}

.faq__question h2 {
  font-size: 0.8rem;
  font-weight: 100;
}

.faq__question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.faq__question:hover h2 {
  font-weight: 700;
}

.faq__answer {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 0;
  color: var(--dark-grayish-blue);
}

hr {
  border: 1px solid var(--light-grayish-blue);
  margin: 0 auto;
  width: 16.375rem;
}

@media (width>=1024px) {
  .card__container {
    padding: 4.5rem 4.5rem 4.5rem 33rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: -609px -297px;
  }

  .card__container-main {
    position: relative;
    left: -5rem;
    width: 600px;
  }
  .card__img-main {
    content: url(./images/illustration-woman-online-desktop.svg);
    width: 460px;
    top: 69px;
    left: -70px;
  }

  .card__container:after {
    content: url(./images/illustration-box-desktop.svg);
    position: absolute;
    z-index: 100000;
    left: -126px;
    top: 199px;
  }

  .card__title {
    text-align: left;
    padding-left: 1rem;
  }

  .faq__details {
    width: 400px;
  }

  hr {
    width: 22.375rem;
    position: absolute;
    margin-left: 1.25rem;
  }
}
